<%-include("partials/header",{title:'Games List'})%>
  <body>
    <h1>GAME LIST</h1>
    <table border="1">
        <ul>
          <%let i = 1;
           results.forEach((result) => {%>
            <tr>
            <td><a href="games/<%=result.id%>/gamespage"><%=result.Game_name%></a></td>
            <td><%=result.Thumbnail%></td>
            <td><%=result.Description%></td>
            <td>
              <%if (result.Player !== null) {
                result.Players.forEach(player => { %>
                  <ul>
                    <li>
                      <%=player.username%>
                    </li>
                  </ul>
                <%})%>
              <%}%>
            </td>
            </tr>
          <%})%>
        </ul>
    </table>
    <a href="/games/add">Add Games</a>
  </body>
</html>
