<%-include("partials/header",{title:'Game Page'})%>
  <body>
    <table border=1>
      <tr>
        <td><%=results[0].Game_name%></td>
        <td>
          <%=results[0].Description%>
        </td>
      </tr>
    </table>
    <table>
      <%for(let i=0;i<results[0].Players.length;i++){%>
          <tr>
            <td><a href="/players/<%= results[0].Players[i].id %>/after"><%=results[0].Players[i].Username%></a></td>
          </tr>
          <% } %>
    </table>
  </body>
</html>