<%-include("partials/header",{title:'Player'})%>
  <table>
      <tr>
        <td><h2><%= dataPlayer.Username %></h2></td>
        <% if(dataFriend.friendId == dataPlayer.id  ){ %>
          <form class="" action="/players/connect/<%= dataPlayer.id %>" method="post">
            <td><input type="submit" name="" value="Connect"></td>
          </form>
        <% } %>
          
      </tr>
  </table>

  <body>
    <table border=1>
      <tr>
        <td>Profile Picture</td>
        <td>
          Profile Description
          <ul>
            <li>Username: <%= dataPlayer.Username %></li>
            <li>Email: <%= dataPlayer.Email %></li>
            <li>Profile: <%= dataPlayer.Profile %></li>
          </ul>
        </td>
      </tr>
  </table>
    <br>
    <h3>List of Games</h3>
    <table border=1>
      <th>Currectly Playing</th>
        <% for(let i = 0; i < dataPlayer.Games.length; i++){ %>
          <tr>
          <% if(dataPlayer.Games[i].GamePlayer.Status == 'true'){ %>
            <td><%= dataPlayer.Games[i].Game_name %></td>
          <% } %>
          </tr>
        <% } %>
    </table>
  </body>
</html>